/*
*
* For custom post type admin area
*
*/




.input-spacing{
	margin-top:8px;
	margin-bottom:8px;
}

a.add_field_button {
    float: left;
}

i.fa.fa-times-circle {
    margin-top: -40px;
    float: right;
    font-size: 20px;
    color: #e05959;
    margin-right: -5px;
}

